<style>
.btn-search{
  background-color:#fe424d;
  color:white;
  border-radius: 25px;
  padding:0 1rem 0 1rem;
}

.btn-search:active{
  background-color:#fff!important;
  color:black!important;
  box-shadow: 0 0 8px rgba(232, 41, 57, 0.833)!important;
}
.btn-search i{
margin-right: .5rem;
}

.search-inp{
border-radius:25px;
padding:0.5rem 3rem;
}

.search-inp:focus{
box-shadow: 0 0 8px rgba(232, 41, 57, 0.833)!important;
}
</style>
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top plus-jakarta-sans-navbar">
  <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
      <a class="nav-item nav-link" href="/listings">Explore</a>
      
    </div>
    <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search"/>
        <button class="btn btn-search" type="submit"><i class="fas fa-search"></i>Search</button>
      </form>
    </div>
    <div class="navbar-nav navbar-nav-left">
      
      <a class="nav-item nav-link" href="/listings/new">Create</a>
      <%if(!currUser){ %>
          <a class="nav-item nav-link" href="/signup"><b>SignUp</b><span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/login"><b>Login</b> <i class="fa fa-sign-out" aria-hidden="true"></i></a>
       <% }%>
      <% if(currUser){  %>
          <a class="nav-item nav-link" href="/logout"><b>Log out</b> <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      <% }%>
    </div>
  </div>
</nav>